@font-face {
    font-family: 'Lato', sans-serif;
    src: local("Lato"),
    url("../fonts/Lato-Bold.ttf");
    font-weight: 700, 300;
}
@font-face {
    font-family: 'Playfair Display', serif;
    src: local("Playfair Display"),
    url(../fonts/PlayfairDisplay-Regular.ttf);
}